{% extends "base.html" %}
{% block title %}
	Agregar Mas Personal
{% endblock %}

{% block content %}
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						Dar de alta al personal
					</h1>
					<small>Hola {{ user.first_name}}  {{ user.last_name}} bienvendo al sistema</small>
				</div>
			</div>
			
			<div class="row">
			{% include 'personal/BarraLateralIzquierda.html' %}
				<div class="span9">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li><br>
								<p aling="justify">
								{{msg}}
									<form action="." method="POST">
									{% csrf_token %}
									{{ form_user.as_p }}
									{{ form_personal.as_p }}
									<button class="btn btn-large btn-primary">Agregar</button>
									</form>
								</p>
						</ul>
						
					</div>
				</div>
			</div>
		</div>

{% endblock %}

