{% extends "base.html" %}
{% block title %}
	Eliminando Personal
{% endblock %}

{% block content %}
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						Dar de baja al personal
					</h1>
					<small>Hola</small>
				</div>
			</div>
			
			<div class="row">
		   {% include 'personal/BarraLateralIzquierda.html' %}
				
				<div class="span9">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li><br>
								<p aling="justify">				
									{% if lista_personal%}
										<table class="table table-hover">
											<theader>
												<h1>
													Lista De Empleados
												</h1>
												<tr class="success">
													<td><h4>Nombre</h4</td>
													<td><h4>Apelldo Paterno</h4</td>
													<td><h4>Apellido Materno<h4</td>
													<td></td>
												</tr>
													
											</theader>
										{% for empleado in lista_personal%}
											<tbody>
												<tr class="info">
													<td>{{ empleado.nombre}}</td>
													<td>{{ empleado.apellido_Paterno}}</td>
													<td>{{ empleado.apellido_Materno}}</td>
													<td><a id="calendar" class="btn" href="/rmPersonal/{{empleado.id}}/"><i class="icon-remove"></i>Eliminar</a></td>
												</tr>
										
											</tbody>
										{% endfor %}
										</table>
									{% else%}
										<p>No se han agregado datos de ningun empleado</p>
									{% endif%}
								</p>
						</ul>
						
					</div>
				</div>
				
			</div>
		</div>

{% endblock %}i

