{% extends "base.html" %}
{% block title %}
	Agregar Mas Personal
{% endblock %}

{% block content %}
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						Dar de alta al personal
					</h1>
					<small>Hola</small>
				</div>
			</div>
			
			<div class="row">
			{% include 'personal/BarraLateralIzquierda.html' %}
				<div class="span9">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li><br>
								<p aling="justify">
									{{msg}}<br>
									<a href="{% url  vista_agregar_personal %}"><button class="btn btn-primary btn-large">Agregar Otro Usuario</button></a>
									
									
								</p>
						</ul>
						
					</div>
				</div>
			</div>
		</div>

{% endblock %}

