{% extends "base.html" %}
{% block title %}
	Agregar Inforormacio Acrca de la tienda
{% endblock %}

{% block content %}
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						Agregar datos acerca de La Farmacia
					</h1>
					<small>Hola</small>
				</div>
			</div>
			
			<div class="row">
			{% include 'home/barraLateralIzquierdo.html' %}
				
				<div class="span9">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li><br>
								<p aling="justify">
									{% if farmacia %}
										<table class="table table-bordered">
												<theader>
													<h1>
														Datos de la farmacia
													</h1>
													<tr class="info">
														<td><h4>Nombre De La Farmacia</h4></td>
														<td><h4>Direccion</h4></td>
														<td><h4>Telefono</h4></td>
														<td><h4></h4></td>
													</tr>
													
												</theader>
										{% for local in farmacia %}
												<tbody>
													<tr class="success">
														<td> {{local.nombre}}</td>
														<td> {{local.direccion}}</td>
														<td> {{local.telefono}}</td>
														<td><a class="btn" href="/editFarmacia/{{local.id}}/"><i class="icon-pencil"></i>Editar</a></td>
													</tr>
												</tbody>
										{% endfor %}
										</table>
									{% else %}
										<p>No hay Datos del Local</p>
									{% endif %}
								</p>
						</ul>
						
					</div>
				</div>
			</div>
		</div>

{% endblock %}

