{% extends "base.html" %}
{% block title %}
	Obtener el mejor proveedor

{% endblock %}

{% block content %}
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						Saber quien es el mejor proveedor
					</h1>
					<small>Hola</small>
				</div>
			</div>
			
			<div class="row">

			{% include 'reportes/barraLateralIzquierdo.html' %}
				
				<div class="span5">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li>
						<h4>
							Ingrese el codigo del producto y presione siguiente
						</h4>
							<form method="POST">
								{% csrf_token %}
								{{ form }}
								<button class="btn btn-primary btn-large">Siguiente</button>
								
							</form>
						</ul>
						
					</div>
				</div>
			</div>
		</div>

{% endblock %}

