{% extends "base.html" %}
{% block title %}

 	{{ titulo}}

{% endblock %}

{% block content %}

		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						{{titulo}}
					</h1>
					<small>Hola</small>
				</div>
			</div>
			
			<div class="row">

			{% include 'ventas/barraLateralIzquierdo.html' %}
				
				<div class="span9">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li><br>
								<p aling="justify">
								<form action="" method="GET">
								{%csrf_token %}
								{{form.as_p}}
								
								</form>
								<h1>
									{{ msg}}
								</h1>
								<p>{{ total_venta }}</p>
									<form action="" method="POST">
										{% csrf_token %}
										<button class="btn btn-large btn-success">SI</button>
									</form>
									<a href="/addVentas/0/"><button class="btn btn-large btn-danger">NO</button></a>
									
								</p>
						</ul>
						
					</div>
				</div>
			</div>
		</div>

{% endblock %}

