{% extends "base.html" %}
{% block title %}
	Dar de alta a productos nuevos
{% endblock %}

{% block content %}
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						Dar de alta a nuevos productos
					</h1>
					<small>Hola</small>
				</div>
			</div>
			
			<div class="row">
			{% include 'productos/newProductos/barraLateralIzquierda.html' %}
				<div class="span9">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li><br>
							
									<h4>{{ msg }}</h4><br><br>
							<form action="" method="POST">
									{% csrf_token %}
									{{ form_producto.as_p }}
									{{ form_mercancia.as_p}}
						{% comment %}
																<p>Codigo de barras :</p>
									{{ form_producto.codigo }}
									<p>Nombre del producto</p>
									{{ form_producto.nombre_producto}}
									<p>Categoria</p>
									{{ form_producto.categoria}}
									<p>Numero de piezas </p>
									{{ form_producto.total_piezas }}
									<p> Numero Minimo de piezas </p>
									{{ form_producto.numero_minimo_piezas }}
									<p>Nombre de proveedor </p>
									{{ form_mercancia.proveedor }}
									<p>Nombre de la Compania</p>
									{{ form_mercancia.compania}}
									<p>Fecha de caducidad</p>
									{{ form_mercancia.fecha_caducidad }}
									<p> Fecha de ingreso</p>
									{{form_mercancia.fecha_ingreso }}
									<p>Precio Sugerido </p>
									{{ form_mercancia.precio_sugerido }}
									<p>Precio Farmacio </p>
									{{ form_mercancia.precio_farmacia}}
									<p>Descuento de compra</p>
									{{ form_mercancia.descuento_compra }}
									<p>Precio Compra</p>
									{{ form_mercancia.precio_compra}}
									<p>Descuento Venta</p>
									{{ form_mercancia.descuento_venta}}
									<p>Precio Venta</p>
									{{form_mercancia.precio_venta}}
									<p>Ganancia</p>
									{{form_mercancia.ganancia }}
									<p>Iva</p>
									{{form_mercancia.iva}}<br>
									
						{% endcomment %}
								   						<a href=""><button class="btn btn-primary btn-large">Dar de Alta</button></a>
							</form>
								</p>
						</ul>
				</div>
			</div>
		</div>

{% endblock %}

