{% extends "base.html" %}
{% block title %}
	Actualizando datos de un producto
{% endblock %}


{% block content %}
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						Actualizar datos de un producto
					</h1>
					<small>Hola</small>
				</div>
			</div>
			
			<div class="row">
			{% include 'productos/newProductos/barraLateralIzquierda.html' %}
				<div class="span9">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li><br>
								<form action="." method="POST">
								{% csrf_token %}
								<p>Codigo Del Producto</p><br>
								{{form.codigo}}<br>
								<p>Nombre del producto</p><br>
								{{form.nombre_producto}}<br>
								<p>Nombre de la Compania</p><br>
								{{form.nombre_compania}}<br>
								<p>Nombre proveedor</p><br>
								{{form.nombre_proveedor}}<br>
									<button class="btn btn-large btn-primary">Guardar</button>
									</form>
								</p>
						</ul>
				</div>
			</div>
		</div>

{% endblock %}

