{% extends "base.html" %}
{% block title %}
	{{titulo}}
{% endblock %}


{% block content %}
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						{{titulo}}
					</h1>
					<small>Hola</small>
				</div>
			</div>
			
			<div class="row">
				{% include 'productos/newProductos/barraLateralIzquierda.html' %}
				<div class="span9">
					<h1 >Ingresa El Codigo de producto y presion siguinete</h1>
					
					
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li><br>
								<form action="." method="POST">
								{% csrf_token%}
								{{form}}
							<button class="btn btn-large btn-primary">Siguinete</button>
								</form>
						</ul>
					</div>
				</div>
			</div>
		</div>

{% endblock %}

