{% extends "base.html" %}
{% block title %}
	{{titulo}}
{% endblock %}


{% block content %}
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						{{ titulo }}
					</h1>
					<small>Hola</small>
				</div>
			</div>
			
			<div class="row">
			{% include 'productos/newProductos/barraLateralIzquierda.html' %}
				<div class="span9">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li><br>
								<p aling="justify">
									{% if lista_companias %}
										<table class="table table-bordered">
												<theader>
													<h1>
														Lista de Companias
													</h1>
													<tr>
														<td><h4>Companias</h4></td>
													</tr>
													
												</theader>
										{% for compania in lista_companias %}
												<tbody>
													<tr>
														<td> {{compania.nombre_compania}}</td>
														
														<td><a class="btn" href=""><i class="{{icono}}"></i>Mostrar Todos</a></td>
													</tr>
												</tbody>
										{% endfor %}
										</table>
									{% else %}
										<p>No hay Companias Agragadas</p>
									{% endif %}
								</p>
						</ul>
						
					</div>
				</div>

			</div>
		</div>

{% endblock %}

