{% extends "base.html" %}
{% block title %}
	{{titulo}}
{% endblock %}


{% block content %}
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						{{titulo}}
					</h1>
					<small>Hola</small>
				</div>
			</div>
			
			<div class="row">
		{% include 'productos/newProductos/barraLateralIzquierda.html' %}
				<div class="span9">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li><br>
								<p aling="justify">
									{% if lista_productos %}
										<table class="table table-bordered">
												<theader>
													<h1>
														Lista de Productos
													</h1>
													<tr>
														<td><h4>Codigo de barras</h4></td>
														<td><h4>Nombre del producto</h4></td>
														<td><h4>Total de piezas <br>ejemplo</h4></td>
														<td><h4>Nombre del proveedor</h4></td>
														
													</tr>
												</theader>
										{% for producto in lista_productos %}
												<tbody>
													<tr>
														<td> {{producto.codigo}}</td>
														<td> {{producto.nombre_producto}}</td>
														<td> {{producto.total_piezas}}</td>
														
														<td><a class="btn" href=""><i class="{{ icono }}"></i>Mostrar Todos</a></td>
													</tr>
												</tbody>
										{% endfor %}
										</table>
									{% else %}
										<p>No se encontro nungun producto</p>
									{% endif %}
								</p>
						</ul>
						
					</div>
				</div>

			</div>
		</div>

{% endblock %}

