{% extends "base.html" %}
{% block title %}
	Dar de baja un producto
{% endblock %}


{% block content %}
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<h1>
						Dar de baja un producto
					</h1>
					<small>Hola</small>
				</div>
			</div>
			
			<div class="row">
			{% include 'productos/newProductos/barraLateralIzquierda.html' %}
				<div class="span9">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"></li><br>
								<li><a href="{% url vista_obtener_codigo_eliminar%}">Burscar Por Codigo</a></li><br>
								<li><a href="{% url  vista_lista_categorias_eliminar %}">Burscar Por Categoria</a></li><br>
								<li><a href="{% url  vista_lista_companias_eliminar %}">Burscar Por Compania</a></li><br>
						</ul>
						
					</div>
				</div>
			</div>
		</div>

{% endblock %}

